.mapaPrincipal {
    padding: 15px;
    border: 1px solid blueviolet;
}

.mapaPrincipal_imagen {
    height: 600px;
    -webkit-box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.75);
}